.Container {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  padding: 1%;
  background-color: rgba(147,125,182,1);
}
.outputContainer {
  border: 3px dotted #c7c7c7;
  background-color: #fff;
  font-size: 26px;
  font-style: oblique;
  margin-bottom: 18px;
  padding: 9px 14px;
}
.btnContant {
  width: 80%;
}
.InputNumber {
  width: 21%;
  margin: 5px 3px;
  border: none;
  border-right: 4px solid #fff;
  font-size: 28px;
  padding: 6px 0px;
  cursor: pointer;
  border-bottom: 4px solid #fff;
}
.Number {
  width: 21%;
  margin: 5px 3px;
  border: none;
  border-right: 4px solid #fff;
  font-size: 28px;
  padding: 6px 0px;
  cursor: pointer;
  border-bottom: 4px solid #fff;
}